
Conversation unstarred.Conversation opened. 1 read message.

Skip to content
Using BitCot Mail with screen readers
in:sent 
Enable desktop notifications for BitCot Mail.
   OK  No thanks

Conversations
0 GB (0%) of 30 GB used
Manage
Program Policies
Powered by Google
Last account activity: 1 hour ago
Details

@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-family: sans-serif;
  /* line-height: 1.15; */
  -webkit-text-size-adjust: 100%;
}
body{
    overflow-x: hidden;
    font-family: Raleway,sans-serif;
    line-height: 100%;
}
/* dropdown */
.navbar-dark .sm-menu{
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 margin-top: 20px;

}
.custom_nav .sm-menu{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 25px;
 
 }

 /* dropdown */

.navbar
{    margin-top: -10px;
    font-weight: 700;
    font-size: .9rem;

    background: rgb(0, 0, 0, .6) !important;
    border-bottom:  1px solid;
    border-bottom-color: rgba(255,255,255,.2);
    
    
}
.navbar-brand{
  padding-right: 50px;
    margin-right: 70px; 
    border-right: 1px solid;
    border-right-color: rgba(255,255,255,.2);
    height: auto;
    
}


 .navbar-dark .brand{
  /* padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #eee;
    border-right: #fff 1px solid; */
  border-top-width: 100%;
  
  /* line-height: 50px; */
  border-top-width: 100%;
  font-family: sans-serif;
  font-weight: 700;
  color: #333;
  padding-top: .3rem;
} 
.navbar-dark h1{
  margin-top: 7px;
}

/* .navbar-nav li{
  padding: .7rem;
  
} */
.navbar-dark .navbar-nav .navbar-link
{
    color: white;
    /* padding-top: .8rem; */
}
.navbar-dark .navbar-nav .navbar-link1
{
    color: white;
    /* padding-top: .8rem; */
}
.carousel-caption
{
    padding-bottom: 200px;
    
}
.carousel-caption h1
{
    font-size: 3.8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: poppins,sans-serif;
    padding-bottom: .1rem;

}
.alignment{
  padding-bottom: 130px;
}
/* new attach */
/* .carousel-inner .carousel-item .fill img{
  background-attachment: fixed;
} */


.img{
  background:linear-gradient( rgba(50, 115, 220, 0.6), rgba(50, 115, 220, 0.6) );
}
.search{
  padding-left: 30px;
  margin-left: 30px;
  border-left: 1px solid rgba(255,255,255,.2);
  line-height: 5;
}

.search i
{
  list-style-type: none;
  color: #444;
  /* padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid rgba(255,255,255,.2);
    line-height: 6; */
  padding-bottom: 19px; 
  padding-right: 20px;
  
  
  
}

.search-form
{
  position: relative;
  padding-left: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 44px;
  opacity: 1;
  transition: 0.5s;

}
.search-form input{
  width: 100%;
  height: 44px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 16px;
} 
  


.navbar-dark .home
{
  
  font-size: .9rem;
  font-family: sans-serif;
  margin-bottom: -10px;

} 
/* .navbar-dark .home .active{
  margin-bottom: -5px;
} */
/* .navbar-dark .home1
{
  
  font-size: .9rem;
  font-family: sans-serif;
  margin-bottom: -10px;

}  */


  

.custom_nav .navbar-nav .navbar-link{
    color: #333;
}

.spacer{
  height:50px;
  
}






/* .navbar-dark.nav-link::before {
  transition: 300ms;
}

 .navbar-dark.nav-link-fade-up::before {
  width: 100%;
  bottom: 2px;
  opacity: 0;
  border-bottom: 3px solid  white ;
  
}
.navbar-dar.nav-link-fade-up:hover::before {
  bottom: 10p;
  opacity: 1;
} 

.navbar-dark .nav-item a h3 {
  font-size: .9rem;
  font-family: sans-serif;
  color: white;
}

.navbar-dark .nav-item .active {
  border-bottom: 3px solid white;
} */
.custom_nav .active_class::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00bed7;
}



.navbar-dark .active_class:hover::before {
  width: 3%;
}


.navbar-dark .nav-link-fade-up::before {
  
  bottom: 2px;
  opacity: 0;
}

.navbar-dark .nav-link-fade-up:hover::before {
  bottom: 20px;
  opacity: 1;
  
}
.navbar-dark .search i{
  margin-bottom: -30px; 
}
 


/* custom navbar */
.custom_nav{
  margin-top: -30px;
  background: white !important;
    border-bottom: #bbbec0 .1px solid;
 
}

/* .custom_nav .nav-item a h3:hover
{
  color:  #00bed7;
  text-decoration-line: none;
  border-bottom: 3px solid  #00bed7 ;
} */

.custom_nav .nav-item .active {
  border-bottom: 3px solid #00bed7;
}
.custom_nav .nav-item a h3 {
  font-size: .9rem;
  font-family: sans-serif;
  color: #444;
  margin-bottom: -40px;
  padding-bottom: 3px;
}
.custom_nav .search i{
  margin-bottom: -40px; 
}
/* .custom_nav .brand{
  margin-top: 7px;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #eee;
  
border-top-width: 100%;

  line-height: 50px;
border-top-width: 100%;
font-family: sans-serif;
font-weight: 700;
color: #333;
padding-top: .1rem; 
} */
.custom_nav .brand{
  font-size: 46;
  margin: 0 auto;
  margin-top: 20px;

}
/* for fadeup purpose */
.custom_nav .active_class::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00bed7;
}

#in-width{
  width: 600;
  
}
.custom_nav .nav-link .home:hover{
  color: #00bed7;
}


.custom_nav .nav-link:hover::before {
   width: 3%;
  
}


.custom_nav .nav-link-fade-up::before {
  
  bottom: 2px;
  opacity: 0;
}

.custom_nav .nav-link-fade-up:hover::before {
  bottom: 25px;
  opacity: 1;
  
}

/* .custom_nav .nav-link1:hover {
  color:  #00bed7;
  text-decoration-line: none;
  margin-bottom: 5px;
  
}  */

/* navbar-dark */
 .nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  
}
.navbar-dark .active_class:hover::before  {
  
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;

  text-decoration-line: none;
  border-bottom: 3px solid  white ;
}


 .navbar-dark .active_class:hover::before {
  width: 3%;
} 

.navbar-dark .nav-link-fade-up::before {
  
  bottom: 2px;
  opacity: 0;
}

.navbar-dark .nav-link-fade-up:hover::before {
  bottom: 30px;
  opacity: 1;
  
}
.navbar-dark .nav-item .active {
  border-bottom: 3px solid white;
}


/* end */
/* .nav-link {
  
  
  opacity: 0.75;
}
.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}
 .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }


  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  

 */
/* .dropdown:hover .dropdown-menu
{
  display: block;
}
.dropdown-menu
{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.home5
{
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 100;
  text-decoration-line: none;
}
.home5:hover
{
  color:  #00bed7;
  text-decoration-line: none;
}
 */

  



/* .spacer{
  height: 50px;
} */

/* .home
{
  color: #333;
  font-size: .9rem;
  padding-top: .1rem;
  font-family: sans-serif;
  transform: scale(1);
  transition: 0.5s;
  display: block;
}
.home .hide-item
{
  transform: scale(0);
} */
.custom_nav .navbar-nav .nav-link
{
    color: black;
    padding-top: .7rem;
}
.dropdown-item{
  color: #333;
}
.dropdown-item:hover{
  color: #00bed7;
}
.custom_nav .brand{
  background-image: url(canvas.png);

  
}



.card-text
{
    padding-bottom: .1rem;
    color: #00bed7;
    font-size: .9rem;
}
.card-link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .1.5rem;
    color: #00bed7 !important;
}
.card-title
{
  font-size: 19px;
  font-family: Raleway,sans-serif;
  color: #444;
font-weight: 600;
line-height: 1.5;
}
.text-head
{
    font-family: open sans,sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
line-height: 1.5;
    font-weight: bold;
    
    
}
.work
{
  font-family:  sans-serif;
  font-size: 24px;
  color: #444;
  font-weight: bold;
}
.align-3{
  padding-left: 170px;
}
.align-4{
  padding-left: 190px;
}
.align-3 a{
  text-decoration: none;
  color: #444;
  font-weight: bold;
}
.align-3 a:hover{
  color: #00bed7;
}
.align-3 a{
  border-bottom: 3px solid #00bed7;
}
.text-head1
{
    letter-spacing: .1rem;
    padding-bottom: .1rem;
    padding-top: 100px;
}

/* .img
{
  background-size: cover;
  height: 605;
  width: 100%;
 
 
          
  
  
} */

  
 .animated {
    -webkit-animation-duration: 3.9s;
    animation-duration: 3.9s;
  }
  
  
  .carousel-inner .fill .img 
  {
    
    -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  }
  /* .col-lg-6
  {
    
  padding: 20px 0 0 20px;
  } */

  .side
  {
    font-size: 16px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
color: #333;
padding: 0 0 0 120px;
  }
.graph
{
  
  margin: 7px 0 0;
color: #999;
padding: 0 0 0 120px;

}
.about
{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  font-family: poppins,sans-serif;
  padding-bottom: 1.5rem;
  
  padding: 0 0 0 60px;
    
}
.line-1{
  padding-top: 70px;
}
.line-2{
  padding-top: 30px;
}
.line{
  
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.button-link
{
  
position: relative;
color: #333;
font-weight: 600;
margin-top: 10px;
padding: 5px 0;
line-height: 1.5;
text-decoration-line: none;
}


a:focus {
  outline: none;
}

/* .portfolioFilter {
  padding: 15px 0;
  text-align: center;
}

.portfolioFilter a {
  
  color: black;
  text-decoration: none;
  
  padding: 4px 15px;
  border-radius: 50px;
  
}

.portfolioFilter a.current {
  background: aqua;
  border: 1px solid aqua;
  color: #f9f9f9;
} */
.section1
{
  margin: 6%;

}
.section1 i
{
  color: aqua;

}
.section1 p{
  font-family: open sans,sans-serif;
  color: rgba(0,0,0,0.59);
  letter-spacing: .1rem;
    padding-bottom: .2rem;
    line-height: 1.6;
}
.section1 h3{
  font-family: Raleway,sans-serif;;
  font-size: 1.0rem;
  font-weight: 600;
  
}
.play
{
  margin-top: 20px;
}
.play-btn
{
  width: 50px;
  position: relative;
  top: -50%;
  cursor: pointer;
  transition: 0.5s;
  
  
}
.col-md-6:hover .play-btn
{
  opacity: 1;
}
.man
{
  margin-left: 100px;
}
.team
{
  margin-right: 100px;
  margin-top: 100px;
  letter-spacing: .1rem;
  padding-top: .3rem;
}
.great
{
  margin-bottom: 0 !important;

  color: #444;
font-weight: 600;
line-height: 1.5;
margin: 0 0 30px;
    margin-bottom: 30px;
font-family: Raleway,sans-serif;

}
.design
{
  font-size: 15px;
  color: #999;
}
.link-align a{
  text-decoration-line: none;
  color: #333;
  font-weight: bold;
  border-bottom: 3px solid #00bed7;

}
.link-align a:hover{
  color: #00bed7;
}
  

.align-1
{
  font-family: 'Open Sans', sans-serif;
   line-height: .7;
   font-size: .857rem;
   color: #333;
   margin-top: 0;
    margin-bottom: 1rem;
}
.jumbotron
{
  height:224px;
  width:100%;
}
.img3
{

  margin-bottom: 100px;
  transition: 0.5s;
  opacity: .7rem;
}
.canvas
{
  border-right: #fff 1px solid;
  border-top-width: 100%;

  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  font-family: poppins,sans-serif;
  padding-bottom: .1rem;
}



.hire
{
  padding-left: 37px;
}
.doc
{
  list-style-type: none;
  color: #999;
   font-size: 13px;
   font-weight: 300;
}
.doc a{
  color: #999;
}
.plu
{
  padding-right: 50px;
}

 
/*img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;

} 

/*.content1
{
  font-family:  open sans,sans-serif;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);


  white-space: nowrap;
  overflow: hidden;
}
.content a
{
  
  color: #888;
  font-weight: 100;
  list-style-type: none;
  text-decoration: none;  
}
.overlay1
{
  opacity: 0;
  
}
.wrapper1:hover img{
  opacity: .3;
  

}
.wrapper1:hover .overlay1{
  opacity: 1;
  
}
.from
{
  font-family: sans-serif;
  font-weight: 700;
} 
.h
{
	font-family:"Century Gothic";
	font-weight:500;
	font-size:25px;
	text-align:center;
	margin:20px;
}
.gal
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	font-size:0;
	margin:10px;
}
.p
{
	flex:25%;
	/* If img width is decreased, there is horizontal space between adjacent images. 
	   To get rid of that space, remove this line (flex:25%)*/
 
 /* video-content  */
 .video-content h1{
   font-weight: 700px;
   font-size: 46px;
   letter-spacing: -2px;
   line-height: 58px;
   font-family: 'Poppins', sans-serif;
   color: #333;
   padding-left: 40px;
}
.video-content p{
  font-weight: 400px !important;
  font-family: sans-serif;
  color: #555555;
  margin-bottom: .5rem;
  font-size: 15px;
  padding-left: 40px;
}
.video-content h3{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #444444;
  margin-top: 2rem;
  font-weight: bolder;
  padding-left: 40px;
}
.video-content a{
  display: inline-block;
    position: relative;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 40px;

}
.video-content a:hover{
  color:  #00bed7;
  text-decoration-line: none;
}
.video-content .link-item {
  
  border-bottom: 3px solid #00bed7;
}
/* .video-icon .play{
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  top: 190px;
  left: 315px;
  border-radius: 30px;
} */
.video-icon .play span{
  position: absolute;
  width: 40px;
  height: 40px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 50px solid #fff;
  border-radius: 10px;
  top: 170px;
  left: 315px;
}
.video-icon img{
  opacity: 1;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video-icon img:hover{
  opacity: 0.6;
}
/* video section completed */

/* parallex sectiom */
.parallaxome{
  height: 500px;
  width: 100%;
  background-image: url(n3.jpg);
  margin-top: 60px;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* -webkit-filter: sepia(100%);
    filter: sepia(100%); */
    -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  opacity: 0.9;
     color: white; 
  
}
.parallaxome .parallex-content{
  padding-left: 90px;
  padding-top: 40px;
  font-size: 50;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: sans-serif;
  z-index: -2;
  
  
  

}

.parallaxome .parallex-para{
  padding-left: 90px;
  margin-top: 40px;
font-weight: 500;
position: absolute;
 bottom: 90px;
}
.parallaxome .link-item {
  text-decoration-line: none;
  display: inline-block;
  position: relative;
  color: white;
  border-bottom: 3px solid #00bed7;
  margin-top: 40px;
}
/* parallaxome */



/* portfolioFilter */
.single_portfolio_text{
	display:inline-block;
	padding:0;
	position:relative;
	
}
.single_portfolio_text img{
	width:100%;
}



.portfolio_images_overlay{
	width: 90%;
	height: 90%;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin: 0 auto;
	top: -100%;
	left: 5%;
	position: absolute;
	transition:.6s;
	
}

.template-port
{
  font-family:  open sans,sans-serif;
  
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0,0,0,.75);
} 
.template-port img{
  
    opacity: 1;
    display: block;
  

    transition: .5s ease;
  
  
}
.content1
{
  font-family:  open sans,sans-serif;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);


  white-space: nowrap;
  overflow: hidden;
}
.content1 a
{
  
  color: white;
  font-weight: 100;
  list-style-type: none;
  text-decoration: none;  
}
.overlay1
{
  opacity: 0;
  
}
.template-port:hover img{
  opacity: .3;
  

}
.template-port:hover .overlay1{
  opacity: 1;
  
}
/* portofoliofilter */

/* mouse icon */
.icon-scroll,
.icon-scroll::before{
  position: absolute;
  left: 50%;

}
.icon-scroll{
  width: 25px;
  height: 36px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #fff;
  top: 85%;
  animation: scroll 2s infinite;

}
.icon-scroll::before{
  content: '';
  width: 5px;
  height: 5px;
  top: 4px;
  margin-left: -4px;
  border-radius: 5px;
  background: #fff;
}
@keyframes scroll{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(60px);
  }
}
/* mouse-icon end */


/* filtering concepts */
.filtering .btn-default h3{
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.filtering .btn-default h3:hover{
  color: #00bed7;
}
.filtering .filter-button:hover{
  color: #00bed7;
} 

/* water-mark text */

#background{
  position:absolute;
  z-index:0;
  background:white;
  display:block;
  /* min-height:50%; 
  min-width:50%; */
  color: white;
}

#content9{
  position:absolute;
  z-index:1;
  padding-left: 600px;
  font-size: 30px;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700px;
  margin-top: -50px;
}

#bg-text
{
  color: #F3F3F2;
  font-size:90px;
  padding-left: 600px;
  font-weight: bold;
  font-family: sans-serif;

  
}
#bg-text1
{
  color: #F3F3F2;
  font-size:90px;
  padding-left: 630px;
  font-weight: bold;
  font-family: sans-serif;

  
}
#content{
  position:absolute;
  z-index:1;
  padding-left: 550px;
  font-size: 30px;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 700px;
  margin-top: -40px;
}

/* water-mark end */

/* hide-carousel indiacator */

.carousel-indicators li { 
  visibility: hidden;
 }
 /* * hide-carousel indiacator */ 
 

 /* section-3 icon with para */
 .section-3{
   margin-top: 6%;
 }
 .section-3 i{
   color: #00bed7;
 }
 .section-3 h3{
   font-size: 16px;
   font-weight: bold;
   color: #333;
   
 }
 .section-3 p{
   color: #999;
   line-height: 1.8;
   font-size: .875rem;
 }


 /* fooder */
 .social-media{
   text-align: right;
 }
 
 a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 7px 3px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    width: 30px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook
{
    background-color: #1769ff;
}
.btn-facebook:hover
{
    background-color: #4a8aff;
}
.btn-twitter
{
    background-color: #205081;
}
.btn-twitter:hover
{
    background-color: #2a69aa;
}
.btn-google-plus
{
    background-color: #76daff;
}
.btn-google-plus:hover
{
    background-color: #a9e8ff;
}
.btn-pinterest
{
    background-color: #4e6252;
}
.btn-pinterest:hover
{
    background-color: #657e6a;
}
.btn-instagram
{
    background-color: #000;
}
.btn-instagram:hover
{
    background-color: #1a1a1a;
}
.btn-vine
{
    background-color: #ea4c89;
}
.btn-vine:hover
{
    background-color: #ef7aa7;
}

/* .content-carousel{
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 40%;
  background: yellow;
  border: solid 1px #2c2c2c;
}
.slide-img{
  position: absolute;
  width: 100%;
  height: 100%;

}
#i1, #i2, #i3{
display: none;
}
.pre, .nxt{
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(88,88,88,.4);
  z-index: 99;
  cursor: pointer;
}
.pre{
  left: 0;
}
.nxt{
  right: 0;
}
.circle{
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.4);
} */
/* client-service */
.service img{
  text-align: center;
padding-bottom: 0px;
margin-top: 30px;
}

/* scroll-box */
.scrollup{
width: 100%;
margin: 0 auto;
position: fixed;
bottom: 20px;
right: 20px;
display: none;
z-index: 1;
}
.scroll3{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: gray;
  opacity: 0.7;
  padding: 10px;
  transition: 0.5s;
  color: white;
  font-weight: bold;
  
}
.scroll3:hover{
  background: #00bed7;
  
}
.icon-arrow{
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color:  white;
  position: relative;
}
.icon-arrow:after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color:  white;
  transform: rotate(40deg);
  position: absolute;
  right: -2px;
  bottom: 7px; 
}
.icon-arrow:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color:  white;
  transform: rotate(-40deg);
  position: absolute;
  right: -1px;
  bottom: -7px; 
}
.icon-arrow1{
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color:  white;
  position: relative;
}
.icon-arrow1:after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color:  white;
  transform: rotate(40deg);
  position: absolute;
left: -2px;
top: 7px; 
}
.icon-arrow1:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  transform: rotate(-40deg);
  position: absolute;
  left: -1px;
  top: -7px; 
}
.icon-arrow3{
  
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color:  #333;
    position: relative;
  }
  .icon-arrow3:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color:  #333;
    transform: rotate(40deg);
    position: absolute;
    right: -2px;
    bottom: 7px; 
  }
  .icon-arrow3:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color:  #333;
    transform: rotate(-40deg);
    position: absolute;
    right: -1px;
    bottom: -7px; 
  }
/* .img-fluid{
  max-width: 100%;
  height: auto;
  background-size: cover;
  
} */
/* .content-align{
  width: 20%;
  margin: 10px 10px;
}
.content-carousel{
  height: 600px;
  border: 2px solid #ccc;
  
}
.slider{
  display: flex;
  height: 100%;
  width: 400%;
  border: 2px solid #999;
  
}
.slider section{
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  }
  .controls .arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .arrow-left{
    left: 10px;
  }
  .arrow-right{
    right: 20px
  } */
  .para-card {
    margin: 0 auto;
    left: 600px;
    top: 250px;
    min-width: 500px;
   
    
  }
  .para-card .carousel-item {
    height: 300px;
    
  }
  .para-card .testmoni {
    padding: 0;
    top: 90px;
    left: 0;
    color: #3d3d3d;
  }
  .para-card .testmoni h3 {
    color: white;
  }
  .para-card .testmoni p {
    margin-bottom: -35px;
    line-height: 9px;
    margin: 0;
  padding: 0;
    
  }
  .para-card .testmoni img{
    margin-bottom: -290px;
  }
  
  .para-card .testmoni .col-sm-9 {
    text-align: left;
    top: 30px;
    left: 40px;
  }
  .navi a {
      text-decoration:none;
  }
  a > .ico {
      background-color: grey;
      padding: 10px;
      
  }
  a:hover > .ico {
      background-color: #666;
  }
  
