.card {
  margin: 0 auto;
  
}
.card .carousel-item {
  height: 300px;
}
.card .testmoni {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .testmoni h3 {
  color: #3d3d3d;
}
.card .testmoni p {
  line-height: 10px;
}

.card .testmoni .col-sm-9 {
  text-align: left;
  top: 30px;
  left: 40px;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}
